@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    padding: 2em;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}